body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Signup {
  align-content: center;
  position: fixed;
  top:10em;
  left: 2em;
  width: 33%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.orglist {
  margin: auto;
  width: 14%;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: left;
}

.orgButton {
  margin: auto;
  text-align: right;
  color: blue;
  text-decoration: underline;
}

.orgButton:hover {
  color:darkblue
}

.mainNavDiv {
  position: fixed;
   top: 0;
   z-index: 100;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  width: 100%;
  background-color: rgb(122, 122, 122);
  box-shadow: 0 2px 4px 0 #2c2c2c;
}

.home {
  padding-top: 4rem;
}

.navBarLogoutLink {
  position: absolute;
  display: inline;
  float: right;
  left: 94%;
  top: 26%;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(122, 122, 122);
}

.navBarLogoutLink:hover {
  color: #005499;
}
